<!DOCTYPE html>
<html>
    <head>
        <title>boids!</title>
        <link rel="stylesheet" type="text/css" href="../assets/main.css" />
        <link rel="icon" type="img/svg" href="../assets/icon.svg" />
    </head>
    <body>
        <!-- <div id="gridlines"></div>
        <div id="boids"></div>
        <script src="../assets/js/main.js"></script> -->
        <svg xlmns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 100 100">
            <!-- <rect x="0" y="0" width="50" height="50" fill="lime" /> -->
            <path d="M 12.5, 0
                     L 87.5, 0
                     Q 100, 0 100, 12.5
                     L 100, 87.5
                     Q 100, 100 87.5, 100
                     L 12.5, 100
                     Q 0, 100 0, 87.5
                     L 0, 12.5
                     Q 0, 0 12.5, 0
                     Z"/>
            <path d="M 37.5, 25
                     L 62.5, 25
                     L 62.5, 37.5
                     L 75, 37.5
                     L 75, 62.5
                     L 62.5, 62.5
                     L 62.5, 75
                     L 37.5, 75
                     L 37.5, 62.5
                     L 25, 62.5
                     L 25, 37.5
                     L 37.5, 37.5", fill="white"/>
        </svg>
    </body>
</html>